@page "/peliculas/buscar"

@inject IRepositorio repositorio


<div class="card" style="color:darkblue">
    <div class="card-header">
        <h4>Búsqueda</h4>
    </div>

    <div class="card-body">
        <div class="form-inline">
            <div class="form-group mb-2">
                <label for="titulo" class="sr-only">Título</label>

                <input @bind-value="titulo" @bind-value:event="oninput"
                       @onkeypress="@((KeyboardEventArgs e) => TituloKeyPress(e))"
                       type="text" class="form-control" id="titulo"
                       placeholder="Título de la película" />
            </div>

            <div class="form-group mx-0 col-sm-3 mb-2">
                <select class="form-control" @bind="generoSeleccionado">
                    <option value="0">---Seleccione un género---</option>
                    @foreach (var item in generos)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <input type="checkbox" class="form-check-input" id="estrenos" 
                        @bind="futurosEstrenos" />
                <label class="col-form-label" for="estrenos">Futuros estrenos</label>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <input type="checkbox" class="form-check-input" id="cartelera" 
                        @bind="enCartelera" />
                <label class="col-form-label" for="cartelera">En cartelera</label>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <input type="checkbox" class="form-check-input" id="masVotadas" 
                        @bind="masVotadas" />
                <label class="col-form-label" for="masVotadas">Mas votadas</label>
            </div>

            <button type="button" class="btn btn-primary mb-2 mx-sm-3" @onclick="CargarNuevasPeliculas">
                Buscar
            </button>

            <button type="button" class="btn btn-secondary mb-2" @onclick="LimpiarOnClick">
                Limpiar
            </button>

        </div>
    </div>
</div>
<br />


<ListadoPeliculas Peliculas="Peliculas" />


@code {
    private List<Pelicula> Peliculas;
    string titulo = "";
    string generoSeleccionado = "0";
    private bool futurosEstrenos = false;
    private bool enCartelera = false;
    private bool masVotadas = false;
    private List<Genero> generos = new List<Genero>();


    protected override void OnInitialized()
    {
        Peliculas = repositorio.ObtenerPeliculas();
    }


    private void TituloKeyPress(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
        {
            CargarNuevasPeliculas();
        }
    }

    private void CargarNuevasPeliculas()
    {
        Peliculas = repositorio.ObtenerPeliculas().Where(x => x.Titulo.ToLower().Contains
                    (titulo.ToLower())).ToList();
    }


    private void LimpiarOnClick()
    {
        Peliculas = repositorio.ObtenerPeliculas();
        titulo = "";
        generoSeleccionado = "0";
        futurosEstrenos = false;
        enCartelera = false;
        masVotadas = false;

    }

}
