
<div>
    <label>@Label</label>
    <div>
        <InputFile OnChange="OnChange" accept=".jpg, .png, .jpeg" />
    </div>
</div>

<div>
    <!--Si no existe hay que añadirla-->
    @if(imagenBase64 != null)
    {
        <div>
            <div style="margin:10px">
                <img src="data:image/jpeg;base64, @imagenBase64" style="width:300px" />
            </div>
        </div>
    }
    <!--SI ya existe, hay que mostrala-->
    @if(ImagenUrl != null)
    {
        <div>
            <div style="margin:10px">
                <img src="@ImagenUrl" style="width:300px" />
            </div>
        </div>
    }
</div>


@code {
    [Parameter] public string Label { get; set; } = "Imagen";
    [Parameter] public string ImagenUrl { get; set; }
    [Parameter] public EventCallback<string> ImagenSeleccionada { get; set; }

    private string imagenBase64;

    async Task OnChange(InputFileChangeEventArgs e)
    {
        var imagenes = e.GetMultipleFiles();

        foreach (var imagen in imagenes)
        {
            var arrbytes = new byte[imagen.Size];
            await imagen.OpenReadStream().ReadAsync(arrbytes);
            imagenBase64 = Convert.ToBase64String(arrbytes);
            ImagenUrl = null;
            await ImagenSeleccionada.InvokeAsync(imagenBase64);
            StateHasChanged();
        }
    }
}
